<nav>
    <div class="home"> <a href="/">homepage</a></div>
    <div class="pokemon"> <a href="/pokemon">pokemon</a></div>
    <div class="createPokemon"> <a href="/pokemon/create">create pokemon</a></div>
    <div class="myAccount">
        <div class="register"><a href="/auth/signup">sign up </a></div>
        <div class="logIn"> <a href="/auth/login">log in</a></div>
        <div class="logOut"><a href="/auth/logout">log out </a></div>
    </div>
</nav>

<h1>Here is the list of pokemon</h1>

{{#each pokemonList}}
<ul>
    <li>
        <a href="/pokemon/{{this._id}}">{{this.name}}</a>
    </li>
</ul>   
{{/each}}