<h1>Add a new pokemon!</h1>

<form method="POST" action="/pokemon/create">

    <label> Name:
        <input type="text" name="name">
    </label>

    <label> Type:

        <select name="type1" multiple>
            {{#each typeEnum}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>

    </label>

    <label> Second Type (opt.):

        <select name="type2" multiple>
            {{#each typeEnum}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>

    </label>

    <label> Species:
        <input type="text" name="species">
    </label>

    <label> National No.:
        <input type="number" name="indexNumber" min="1">
    </label>

    <label> Height:
        <input type="number" name="height">
    </label>

    <label> Weight:
        <input type="number" name="weight">
    </label>

    <label> Pokemon Image:
        <input type="text" placeholder="paste URL here" name="imgUrl">
    </label>


    <button type="submit"> Create </button>

</form>