<h1>This is post create page</h1>

<form method="POST" action="/community/post/create">

    <label> Title:
        <input type="text" name="title">
    </label>

    <label> Content:
        <input type="text" name="content">
    </label>
    <button type="submit">create</button>
</form>