<h1>This is post create page</h1>

<form method="POST" action="/community/post/create" enctype="multipart/form-data">

    <label> Title:
        <input type="text" name="title">
    </label>

    <label> Content:
        <input type="text" name="content">
    </label>

    <input type="file" name="post-image" />

    <button type="submit">create</button>
</form>