<body class="prairie-bg">
<div class="d-flex flex-column align-items-center justify-content-center">
    <div class="card col-8 mt-5 p-3 text-center" style="background-color: rgba(255, 255, 255, 0.5);">
        <h1>Everyone's favorite Pokemon Community!</h1>
        <h3>for people who believe the first 3 generations of pokemon are elite</h3>
        {{#if currentUser}}
        <div class="button-container d-flex justify-content-center mt-3">
            <a href="/community">
                <button type="button" class="btn btn-warning">View Posts</button>
            </a>
        </div>
        {{else}}
        <div class="button-container d-flex justify-content-center mt-3">
            <a href="/auth/signup">
                <button type="button" class="btn btn-warning">Sign up now!</button>
            </a>
        </div>
        {{/if}}
    </div>
    <div class="mt-4">
        <img src="/images/pokemon-seeds/dragonite.png" alt="">
    </div>
</div>
</body>