<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>
<nav>
    <div class="brand"><a href="/">brand</a></div>
    <div class="home"> <a href="/">homepage</a></div>
    <div class="pokemon"> <a href="/pokemon">pokemon</a></div>
    <div class="community"> <a href="/community">community</a></div>
    <div class="createPost"><a href="/createPost">create post </a></div>
    <div class="createPokemon"> <a href="/pokemon/create">create pokemon</a></div>
    <div class="myAccount">
        <div class="register"><a href="/auth/signup">sign up </a></div>
        <div class="logIn"> <a href="/auth/login">log in</a></div>
        <div class="logOut"><a href="/auth/logout">log out </a></div>
    </div>
</nav>