a {
  color: black;
  text-decoration: none;
}



.post-card {
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 20px;
  transition: all 0.3s ease;
}

.post-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.post-title {
  font-weight: bold;
  font-size: 24px;
  color: #333;
}

.post-content {
  color: #666;
  font-size: 16px;
}

.post-info {
  font-size: 14px;
  color: #999;
}