.bg-image {
  background-image: url("/images/pokedex-bg.jpeg");
}

.bg-image2 {
  background-image: url("/images/grass_type.jpeg");
}

.logo-img {
  width: 8vw;
}

.bg-blue {
  background-color: #3c5aa6;
}

#poke-yellow {
  color: #ffcb05;
}

.poke-blue {
  background-color: #2a75bb;
}

.login-btn:hover {
  background-color: #c7a008;
}

.dropdown-item:hover {
  background-color: #2a75bb;
}

.my-account {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pokedex-bg {
  background-image: url("/images/pokedex.png");
  background-size: cover;
  background-position: center center;
}

.card-image {
  background-image: url("/images/grass_type.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.prairie-bg {
  background-image: url("/images/home/pokemon-prairie.jpeg");
  background-size: cover;
  background-position: center center;
}

.user-bg-image {
  background-image: url("/images/home/growlithe-bg.png");
  background-size: cover;
  background-position: center center;
}

.bg-community {
  background-image: url("/images/home/bulbasaur-wallpaper.jpeg");
  background-size: cover;
  background-position: center center;
}

.bg-my-posts {
  background-image: url("/images/home/lapras-wallpaper.png");
  background-size: cover;
  background-position: center center;
}

.bg-post-create {
  background-image: url("/images/home/snorlax-bg.png");
  background-size: cover;
  background-position: center center;
}

.bg-signup {
  background-image: url("/images/home/cartoon-pattern-blue.jpeg");
  background-size: cover;
  background-position: center center;
}

.bg-post-details {
  background-image: url("/images/home/cartoon-pattern-blue.jpeg");
  background-size: cover;
  background-position: center center;
}

* {
  padding: 0;
  margin: 0;
}