/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
} */

.bg-image {
  background-image: url("/images/pokedex-bg.jpeg");
}

.card-image {
  background-image: url("/images/grass_type.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}